<div class="control-section">

<ejs-treegrid
  #treegrid
  [dataSource]="data"
  [treeColumnIndex]="1"

  [allowFiltering]="filtering"
  [allowSorting]="sorting"
  [sortSettings]='sortSettings' 
  [allowResizing]="true"
  [allowTextWrap]="textWrap"
  allowReordering="true"
  [allowRowDragAndDrop]="true"
  [editSettings]="editSettings"
  [allowSelection]="true"
  [selectionSettings]="selectionOptions"
  [toolbar]="toolbar"
  [pageSettings]="pageSettings"
  [filterSettings]="filterSettings"
  height="100vh"
  width="100vw"
  idMapping="TaskID"
  parentIdMapping="ParentItem"
  hasChildMapping="isParent"
  [contextMenuItems]="contextMenuItems"
  (contextMenuOpen)="contextMenuOpen($event)"
  (contextMenuClick)="contextMenuClick($event)"

  (toolbarClick)="toolabarclickHandler($event)"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [columns]="treeColumns"
  (rowSelected)="rowSelected($event)"
>
</ejs-treegrid>

</div>
